<h1 align="center">Listing all the articles:</h1>

<!-- <%= link_to "Home", root_path %> | <%= link_to "Create new article", new_article_path %> -->

<div align="center">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
    <%= will_paginate %>
</div>